@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

:root {
  /* Colors */
  --color-primary: #111844;
  --color-cream: #f3e4c9;
  --color-sage: #d3d4c0;
  --color-brown: #8b5e3c;

  /* Fonts */
  --font-heading: "DM Serif Display", serif;
  --font-body: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-family: var(--font-body);
}